.container-detail-item {
  display: flex;
}
.detail-item {
  margin: 50px;
  box-shadow: 1px 1px 5px #494949;
  padding: 30px;
  display: flex;
}

.detail-item .detail-text {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.detail-item > div h4 {
  font-size: 35px;
  margin-bottom: 20px;
}
.detail-item > div p {
  font-size: 50px;
  margin: 10px 0;
}

.detail-item img {
  width: 45vh;
  align-self: center;
  justify-items: center;
  margin: 0px 15px;
}
