.container-product {
  width: 100%;
  margin: 25px;
  box-shadow: 1px 1px 5px #d5d5d5;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-product > div {
  width: 100px;
}

.container-product img {
  width: 100%;
  align-self: center;
}
