.container-logo img {
  width: 100%;
  padding-top: 5px;
}
.container-logo {
  float: left;
  width: 200px;
}

header > div {
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.main-navbar {
  background: white;
}
.main-navbar button {
  color: black;
}

ul.navbar-list {
  list-style: none;
  display: flex;
}
.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
  background: white;
}
.cartLogo {
  align-items: center;
  width: 25px;
}
