@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");

.container-logo img {
  width: 100%;
  padding-top: 5px;
}
.container-logo {
  float: left;
  width: 200px;
}

header > div {
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.main-navbar {
  background: white;
}
.main-navbar button {
  color: black;
}

ul.navbar-list {
  list-style: none;
  display: flex;
}
.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
  background: white;
}

.main-navbar.navbar-scroll > div {
  border: none;
}

.navbar-scroll .container-search-form {
  display: none;
}
.navbar-scroll .nav.bottom-navbar {
  z-index: 1;
  margin-top: -68px;
  display: flex;
  justify-content: end;
  width: calc(100% - 100px);
}
nav.bottom-navbar {
  transition: all 0.3s ease;
}
.main-navbar.navbar-scroll > div {
  border: none;
}

.btn-title-nav {
  text-decoration: none;
}

.btn-title-nav button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.link-productos {
  text-decoration: none;
}
.link-subproductos {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
